<h1>Listing packets</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Parent Id</th>
    <th></th>
  </tr>

  <% @packets.each do |packet| %>
      <tr>
        <td><%= packet.id %></td>
        <td><%= packet.name %></td>
        <td><%= packet.parent_id%></td>
        <td><%= link_to 'Show', packet %></td>
        <td><%= link_to 'Destroy', packet, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Packet', new_packet_path %>
