<h1>Listing packets</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @packets.each do |packet| %>
  <tr>
    <td><%= packet.name %></td>
    <td><%= link_to 'Show', packet %></td>
    <td><%= link_to 'Edit', edit_packet_path(packet) %></td>
    <td><%= link_to 'Destroy', packet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Packet', new_packet_path %>
